<p id="notice"><%= notice %></p>

<p>
  <strong>Arrival date:</strong>
  <%= @movement.arrival_date %>
</p>

<p>
  <strong>Departure date:</strong>
  <%= @movement.departure_date %>
</p>

<p>
  <strong>Client:</strong>
  <%= @movement.client_id %>
</p>

<%= link_to 'Edit', edit_movement_path(@movement) %> |
<%= link_to 'Back', movements_path %>
