<!DOCTYPE html>
<html>
  <head>
    <title>ReactOnRailsWithWebpacker</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'hello-world-bundle' %>
  </head>

  <body>
    <%= render partial: 'header' %>
    <div class="container">
        <header class="main">
          <h1>Presence results</h1>
        </header>
        <div class="well">
          <span>
            <b>Passport no.</b>
            <input type="text">
            <button class="btn success">Search</button>
            <button class="btn default">Clear</button>
          </span>
        </div>
        <%# results %>
        <div class="results">
          <h2>Identity</h2>
        </div>
        <%= yield %>
    </div>

  </body>
</html>
