<!DOCTYPE html>
<html>
  <head>
    <title>ReactOnRailsWithWebpacker</title>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'hello-world-bundle' %>
  </head>

  <body>
    <%= render partial: 'header' %>
    <div class="container">
        <header class="main">
          <h1>Presence results</h1>
        </header>
        <div class="well">
          <span>
            <b>Passport no.</b>
            <input type="text">
            <button class="btn success">Search</button>
            <button class="btn default">Clear</button>
          </span>
        </div>


        <%# results %>
          <%= react_component("Identity", props: {id:"123456",
          identities:[
            {id:"88568",firstName:"John",middleName:"Foo",thirdName:"Max",lastName:"Doe",cob:"United States",dob:"17/Jan/1920",gender:"Male",nationality:"American"},
            {id:"45490",firstName:"James",middleName:"Bar",thirdName:"",lastName:"Doe",cob:"United States",dob:"17/Jan/1920",gender:"Male",nationality:"American"}
          ]
          }) %>
        <%# known identities %>

        <div class="results">
          <h2>Presence Data</h2>
          <div>

            <div class="panel">
              <header>
                <h3>Eligible Now</h3>
              </header>
              <div>
              <p>Today's date 1 April 2018</p>
                <button class="btn success">Change date</button>
                </div>
            </div>

            <div class="panel">
              <header>
                <h3>Dates eligible to apply</h3>
              </header>
              <div>
              <ul class="list-stripped">
                <li>1 April 2018 -- 13 April 2018</li>
                <li>5 Mat 2018 -- 13 May 2018</li>
              </ul>
            </div>

          </div>
          </div>
        </div>
        <div class="results">
          <h2>Presence Data</h2>
          <div>

            <div class="panel">
              <header>
                <h3>Eligible Now</h3>
              </header>
              <div>
              <p>Today's date 1 April 2018</p>
                <button class="btn success">Change date</button>
                </div>
            </div>

            <div class="panel">
              <header>
                <h3>Dates eligible to apply</h3>
              </header>
              <div>
              <ul class="list-stripped">
                <li>1 April 2018 -- 13 April 2018</li>
                <li>5 Mat 2018 -- 13 May 2018</li>
              </ul>
            </div>

          </div>
          </div>
        </div>
        <%= yield %>
    </div>

  </body>
</html>
