

  <header class="main">
    <h1>Presence results</h1>
  </header>

  <%= render partial: 'search' %>

<h1>Identities</h1>

<% if @identities.size.positive? %>

<table>
  <thead>
    <tr>
      <th>Issuing State</th>
      <th>Serial Number</th>
      <th>Family name</th>
      <th>Given names</th>
      <th>Country of birth</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @identities.each do |identity| %>
      <tr>
        <td><%= identity.issuing_state.name %></td>
        <td><%= identity.serial_number %></td>
        <td><%= identity.family_name %></td>
        <td>
            <%= identity.first_name %>
            <%= identity.second_name %>
            <%= identity.third_name %>
        </td>
        <td><%= identity.country_of_birth.name %></td>
        <td><%= link_to 'Show', client_path(identity.client) %>
      </tr>
    <% end %>
  </tbody>
</table>
<% else %>
  No records found
<% end %>
<br>
