<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @identity.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @identity.last_name %>
</p>

<p>
  <strong>Second name:</strong>
  <%= @identity.second_name %>
</p>

<p>
  <strong>Third name:</strong>
  <%= @identity.third_name %>
</p>

<p>
  <strong>Date of birth:</strong>
  <%= @identity.date_of_birth %>
</p>

<p>
  <strong>Country of birth:</strong>
  <%= @identity.country_of_birth %>
</p>

<p>
  <strong>Identity:</strong>
  <%= @identity.identity %>
</p>

<%= link_to 'Edit', edit_identity_path(@identity) %> |
<%= link_to 'Back', identities_path %>
