%h1= @day

%ul.nav.md-pills.nav-justified.pills-peach-gradient
  %li.nav-item
    = link_to '<< back to calendar', client_path(@eligibility.client, start_date: @day), class: 'nav-link'
  %li.nav-item
    = link_to 'Legislation', 'http://www.legislation.govt.nz/act/public/1977/0061/latest/DLM443855.html', class: 'nav'

.card
  %h3 8 Citizenship by grant
  %p (2)
  %ul
    %li
      (a) that the applicant is entitled in terms of the Immigration Act 2009 to be in New Zealand indefinitely:
    %li
      (b) that the applicant was present in New Zealand—
      %ul
        %li{class: "list-group-item-#{success_class(@eligibility.five_year_presence)}" }
          %i.far.ml-1{class: @eligibility.five_year_presence ? 'fa-grin' : 'fa-frown'}
          (i) for a minimum of 1 350 days during the 5 years immediately preceding the date of the application; and
        %li{class: "list-group-item-#{success_class(@eligibility.each_year_presence)}" }
          %i.far.ml-1{class: @eligibility.each_year_presence ? 'fa-grin' : 'fa-frown'}
          (ii) for at least 240 days in each of those 5 years,—
        %p being days during which the applicant was entitled in terms of the Immigration Act 2009 to be in New Zealand indefinitely:


.card-deck
  .card
    %h4.text-center Over 5 years
    %ul.list-group
      %li.list-group-item.d-flex.justify-content-between.align-items-center{class: "list-group-item-#{success_class(@eligibility.five_year_presence)}"}
        %i.far.mr-4.pr-3{class: @eligibility.five_year_presence ? 'fa-grin': 'fa-frown'}
        %span.badge.badge-primary.badge-pill
          = @eligibility.sum_over_5_years
          days
        present in New Zealand
  .card
    %h4.text-center For each Year
    %ul.list-group
      -# for at least 240 days in each of those 5 years
      - @eligibility.mimimum_presence_by_rolling_year.each do |year, passed|
        -# %li.nav-item{ class: "text-#{success_class(passed)}" }
        %li.list-group-item.d-flex.justify-content-between.align-items-center{class: "list-group-item-#{success_class(passed)}"}
          .md-v-line
          %i.far.mr-4.pr-3{class: passed ? 'fa-grin': 'fa-frown'}
          %span.badge.badge-primary.badge-pill
            = @eligibility.present_days_by_rolling_year[year]
            days
          during year immediately preceding
          %strong= year

.card
  %h4 Movements
  = timeline @movements, adapter: "google"
